@import "partials/base";
p {
  color: $brown;
  font-family: "Raleway";
}

body {
  background: #FAFAFA;
}
a {
  text-decoration: none;
  color: $brown;
  &:hover {
    color: $blue;
  }
}

nav {
  font-family: "Arvo";
  font-weight: 400;
  // border: 1px solid black;
  display: flex;
  justify-content: space-between;
  max-width: 940px;
  min-width: 415px;
  position: relative;
  margin-left: 180px;
  top: -36px
}

.site-title {
  // border: solid 1px black;
  line-height: 2px;
  color: $brown;
  .designer {
    font-weight: bolder;
    font-size: 36px;
    letter-spacing: 1px;
  }
  .toy-awards {
    position: relative;
    top: -2px;
    font-weight: 200;
    font-size: 25px;
    margin-left: 2.5px;
  }
}
