@import "variables-mixins";
@media only screen and (min-width: 1000px) {

  .about-page {
    height: 690px;
    background: url('/assets/images/stripes.svg');
    @include parallax;
    @include centerItems;

    .about-container {
      @include whiteBackground;
      height: 500px;
      padding: 20px;
      display: flex;
      align-items: center;
    }

    .about-text {
      float: left;
      margin-right: 15px;
      max-width: 645px;

      .page-head1, .page-head2 {
        margin: 0px;
      }

      .page-head1 {
        color: $red;
      }

      .p1, .p2 {
        padding: 3px;
        text-align: justify;
      }

      p {
        width: 100%;
      }

    }
    .about-img-container {
      padding-top: 100px;
      float: right;
    }

    .about-img {
      width: 400px;
      padding-right: 10px;
    }
  }
}
