@import "variables-mixins";
@media only screen and (min-width: 1000px) {

  .clutter-page {
    height: 675px;
    background: url('/assets/images/ClutterLogoBG.svg');
    @include parallax;
    @include centerItems;
    align-content: center;

    .clutter-container {
      @include whiteBackground;
      @include centerItems;
      height: 500px;
    }

    .clutter-img {
      height: 80%;
      float: left;
      padding: 20px;
      width: 30%;
    }

    .clutter-text{
      padding: 20px;
      height: 70%;
      width: 50%;
      float: right;
    }

    p {
      float: left;
    }

    .clutter-title {
      color: $gold;
      font-size: 52px;
      font-weight: 600;
      line-height: 0px;
    }

    .clutter-body{
      line-height: 21px;
      font-family: "Arvo";
      text-align: justify;
    }
  }
}
