@import "variables-mixins";
@media only screen and (min-width: 1000px) {

  .descriptions-page {
    @include centerItems;
    background-color: $gold;
    .descriptions-container {
      @include whiteBackground;
    }

    div.scrollmenu-description {
      background-color: $cream;
      overflow: auto;
      white-space: nowrap;
      margin-bottom: 25px;
    }

    div.scrollmenu-description .descriptions {
      display: inline-block;
      border: 2px solid $red;
      height: 500px;
      width: 350px;
      padding: 10px;

      .descriptions-text {
        width: 250px;
        border: 1px solid green;
      }
    }
  }
}
