@import "variables-mixins";

.descriptions-page {
  background-color: $gold;
  display: flex;
  justify-content: center;
  align-items: center;
  .descriptions-container {
    width: 1050px;
    background: rgba(255, 255, 255, 0.7);
  }
}
