@import "variables-mixins";

@media only screen and (min-width: 1000px) {

  .history-page {
    height: 690px;
    padding-left: 100px;
    padding-right: 100px;
    @include centerItems;

    .history-header {
      width: 300px;
      margin: 0px;
      float: left;
      text-align: center;
      padding-left: 10px;
    }

    .history-body {
      max-width: 900px;
      min-width: 800px;
      float: left;
      text-align: justify;
      margin-top: 0px;
    }
    
    .history-img {
      width: 535px;
      width: 55%;
      float: right;
      margin-top: 20px;
      margin-left: 15px;
      padding-right: 40px;
    }
  }
}
