@import "variables-mixins";

.intro-page {
  height: 675px;
  // background: $blue;
  background-image: url(/assets/images/Crown.svg);
  // background-image: url('../../../../assets/images/crown.svg');

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  display: block;
  padding-left: 75px;
  padding-right: 75px;
}

.toyKingContent {
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
}

.toyKing {
  width: 300px;
}

.toyKingBlurb {
  font-weight: 500;
  width: 365px;
  height: 475px;
  padding: 10px;
  text-align: center;
}

.page-head1 {
  font-family: "Arvo";
  color: $gold;
  font-size: 55px;
  font-weight: 600;
  line-height: 45px;

  .page-head2 {
    font-family: "Raleway";
    font-weight: 500;
    color: $brown;
    font-size: 45px;
  }
}


// @media only screen and (max-device-width: 1024px) {
//   .intro-page {
//       background-attachment: scroll;
//   }
// }

// .parallax-background {
//   background: url('/assets/images/scrollCUSTOM.png');
// }
