@import "variables-mixins";
@media only screen and (min-width: 1000px) {

  .intro-page {
    height: 675px;
    background-image: url(/assets/images/Crown.svg);
    @include parallax;
    @include centerItems;
    align-content: center;
  }

  .intro-container{
    @include whiteBackground;
    @include centerItems;
    height: 500px;
  }

  .intro-img {
    width: 300px;
  }

  .intro-text {
    font-weight: 500;
    width: 365px;
    height: 475px;
    padding: 10px;
    text-align: center;
  }
}
