@import "variables-mixins";

@media only screen and (min-width: 1000px) and (max-width: 1085px) {
  .judge-blurb {
    .judge-body-container {
      width: 450px;
    }
    p {
      font-size: 12px;
    }
  }
}

@media only screen and (min-width: 1000px) {

  .judge-page {
    height: 675px;
    background: url('/assets/images/Toy2.svg');
    @include parallax;
    @include justifyCenter;

    .judge-background {
      @include whiteBackground;
      height: 475px;
      margin-top: 50px;
      padding-top: 75px;
      padding-left: 30px;
      padding-right: 30px;
    }

    .judge-content {
      height: 400px;
    }

    .judge-img-container {
      height: 250px;
      @include justifyCenter;
      margin: 0px;
      padding: 0px;
      .judge-img {
        width: 700px;
      }
    }

    .judge-text {
      width: 1050px;
      height: 125px;
      @include centerItems;
      margin: 0px;

      .page-head1 {
        font-size: 47px;
      }

      .page-head2 {
        font-size: 70px;
        font-size: 200;
        line-height: 60px;
      }

      .judge-body-container {
        width: 570px;
      }

      .judge-body { 
        line-height: 21px;
        font-family: "Arvo";
        margin-top: 31px;
        margin-left: 15px;
      }
    }
  }
}
