@import "variables-mixins";

.news {
  height: 650px;
  padding-top: 20px;
  .news-article {
    width: 60%;
  }
  .news-img {
    height: 300px;
  }
  .date {
    color: $blue;
    font-weight: bold;
  }
  .title {

  }
  .article {

  }
}
