@import "variables-mixins";

.process-page {
  height: 800px;
  background: url('/assets/images/crown.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  display: flex;
  justify-content: center;
  align-items: center;

  .process-container {
    height: 700px;
    width: 1050px;
    background: rgba(255, 255, 255, 0.7);

    .process-text {
      // width: 925px;
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 40px;
    }

    .page-head1 {
      color: $blue;
    }

    .page-head1, .page-head2 {
      margin-left: -10px;
    }

    .process-numbered {
      font-size: 18px;
      font-family: "Arvo";
      font-weight: 700;
      color: $blue;
      line-height: 7px;
      // font-size: 20px;
      padding-left: 30px;
    }

    .process-block {
      padding-left: 50px;

    }
  }





}
