@import "variables-mixins";

.regulations-page {
  height: 1000px;
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  .regulations-container {
    width: 1050px;
    background: rgba(255, 255, 255, 0.7);
  }
  .regulation-text {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    .regulation-header {
      font-size: 18px;
      font-family: "Arvo";
      font-weight: 700;
      color: $blue;
      line-height: 7px;
      padding-left: 20px;
    }
    .regulations-block {
      text-align: justify;
      padding-left: 50px;
    }
    .italic {
      font-style: italic;
      font-weight: bold;
    }
  }
}
