@import "variables-mixins";
@media only screen and (min-width: 1000px) {

  .regulations-page {
    height: 1000px;
    background-color: $red;
    @include centerItems;
    .regulations-container {
      @include whiteBackground;
    }
    .regulation-text {
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 40px;
      .regulation-header {
        @include subHeadBlue;
        font-size: 18px;
        padding-left: 20px;
      }
      .regulations-block {
        text-align: justify;
        padding-left: 50px;
      }
      .italic {
        font-style: italic;
        font-weight: bold;
      }
    }
  }
}
