@import "variables-mixins";

.about-page{
  background-color: $blue;
  height: 650px;
  // border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
.about-container {
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
  height: 450px;
  width: 1000px;
  // border: 1px solid red;
  display: flex;
  align-items: center;
}
.img-container {
  padding-top: 100px;
  float: right;
  // border: 1px solid red;
}
  .about-img {
    width: 400px;
    padding-right: 10px;
  }
  .text-container {
    float: left;

    .page-head1, .page-head2 {
      margin: 0px;
    }
    .p1 {
      padding: 3px
    }
    .p2 {
      padding: 3px;
    }
  p {
    width: 100%;
  }
}
}

.clutter-page {
  height: 650px;
  background: url('/assets/images/ClutterLogoBG.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $blue;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  .clutter-container {
    background: rgba(255, 255, 255, 0.7);
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
        // justify-content: center;
  }
  .clutter-img {
  height: 80%;
  // border: 1px solid red;
  float: left;
  }
  img {
    padding: 20px;
    width: 30%;
  }
  .clutter-text{
    padding: 20px;
    // border: 1px solid red;
    height: 70%;
    width: 50%;
    float: right;

  }
  p {
    float: left;
  }
  .clutter-title {
    color: $gold;
    font-size: 52px;
    font-weight: 600;
    line-height: 0px;
  }
  .clutter-body{
    line-height: 21px;
    font-family: "Arvo";
    text-align: justify;
  }
}

.contact-page {
  height: 650px;
  border: 1px solid green;
}


.sponsors-page {

  border: 1px solid blue;
  height: 650px;
  // display: flex;
  // align-items: center;
  .sponsors-container{
    float: left;
    width: 50%;
    border: 1px solid green;
    margin: 20px;

  .sponsor-img {
    padding-top: 30px;
    height: 450px;
  }
  }
  .donate-container {
    float: right;
    width: 43%;
    margin: 20px;
    // height: 650px;
    border: 1px solid purple;
  }
}
