@import "variables-mixins";

.sponsors-page {
  // border: 1px solid blue;
  height: 650px;
  // display: flex;
  // align-items: center;

  .sponsors-container{
    float: left;
    width: 50%;
    // border: 1px solid green;
    margin: 20px;

    .sponsor-img {
      padding-top: 30px;
      height: 450px;
    }
  }

  .img-box {
    float: right;
    width: 550px;
    height: 270px;
    border: 1px solid blue;

    .donate-img {
      height: 270px;
    }
  }

  .donate-container {
    float: right;
    width: 43%;
    margin: 20px;
    // border: 1px solid purple;
  }
}
