@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,700);

$blue: #00BEBC;
$cream: #FAFAFA;
$gold: #FFD086;
$light-gold: #FADAA8;
$red: #F2534A;
$brown: #423636;
