@import "variables-mixins";
.winners-page {

  .main-img {
  // border: 1px solid black;
  padding: none;
  }

  .winners-title {
    // border: 1px solid black;
    width: 430px;
  }

  .designer-p {
    position: relative;
    font-weight: 700;
    font-size: 100px;
    line-height: 0px;
    top: 0px;
  }

  .toyawards-p {
    position: relative;
    font-weight: 200;
    font-size: 66px;
    line-height: 0px;
    margin-left: 5px;
    top: -10px;
  }

  .year-p {
    color: $red;
    position: relative;
    font-size: 50px;
    font-weight: 200;
    line-height: 0px;
    top: -30px;
    display: flex;
    justify-content: flex-end;
  }

  .toyIMG {
    max-height: 300px;
    padding: 20px;
    // margin-bottom: 100px;
  }

  div.scrollmenu {
    background-color: $cream;
    overflow: auto;
    white-space: nowrap;
    // padding-bottom: 20px;
  }

  div.scrollmenu a {
      display: inline-block;
      // padding: 14px;
  }

  div.scrollmenu a:hover {
      background-color: #777;
  }

  }
