@import "variables-mixins";
.winners {

  .main-img {
  border: 1px solid black;
  padding: none;
  }

  .winners-shelf {
    // display: flex;
    // justify-content: center;
    margin-left: 10%;
    width: 80%;
  }

}
