{{outlet}}
<div class="about-page">
  <div class="about-container">
    <div class="text-container">


  <p class="page-head2">All About</p>
  <p class="page-head1">The DTAs</p>
  <p class="p1">The Designer Toy Awards (DTAs) is the leading award honoring excellence and innovation in the Designer Toy art field. Established in 2011, the DTAs are presented by the Clutter Studios — a leading informational organization within Designer Toys, a community that after more than a decade has become a prominent and legitimate form of artistic and commercial expression as well as a leader in global trendsetting.</p>
  <p class="p2">Reflecting the tremendous and ongoing growth of the Designer Toy community, the DTAs celebrate the best of the industry’s artists, designers and brands, as well as honoring those involved in championing Designer Toys throughout the world. Members of the DTA Board select the majority of finalists and winners in each category from the nominees, however you — the online community — determine finalists and, in some cases, winners by voting for nominated work, individual or brand that you believe to be the best in each category. Each year, the DTAs bring together the Designer Toy community all over the world.
  </p>
</div>
<div class="img-container">

<img class="about-img" src="assets/images/BeforeAfter.svg" alt="">
</div>
</div>
</div>
<div class="history-page">
  <div class="history-container">
  <div class="">
    <img class="history-img" src="assets/images/History.svg" alt="">
  </div>
  <p class="header">
    <span class="head1">History</span><br><span class="head2">of the DTAs</span>
  </p>
  <p class="p1">The germ of the idea that grew to be The Designer Toy Awards, was first planted back in 2008, while on a studio visit with UK illustrator Pete Fowler and his business manager Rob Manley. It was actually an interview for issue 12 of Clutter Magazine, that became a discussion about why there wasn't more celebration within the toy community and that someone should really create an awards ceremony to recognize the hard work and talent that is sometimes left to go unnoticed.
    <br>&nbsp;&nbsp;3 years later (2011), saw this plant grow into the first Designer Toy Awards ceremony held in July during SDCC. When conceiving how the actual award</p>

  <p class="p2">(the Toy King) would look, it made total sense to us to go back to that original conversation and invite Pete Fowler to bring it to life. The result was better than we could have hoped, and now everyone can't wait to hold one in their hands.
    <br>&nbsp;&nbsp;Partnering with Munky King, the ceremony took place during their</p>
    <p class="p3"> Black Ball event and was hosted by Sean Leonard to an excited audience and a huge success. The awards were produced by LA based Pretty in Plastic, who worked hand in hand with Fowler to craft the beautiful pieces.

  In 2012 we brought the event back to our home turf of NYC, hosting the event at the historic Providence</p>
  <p class="p4">NYC, one of New York City's most opulent venues! Located in Midtown Manhattan, Providence NYC was formerly a church and then a recording studio, where The Rolling Stones, Jimi Hendrix, Guns N' Roses, John Lenon and many other legends recorded their magic.</p>
</div>

</div>
<div class="clutter-page">
<div class="clutter-container">
<img class="clutter-img" src="assets/images/ClutterLogo.svg" alt="">
  <div class="clutter-text">
  <p class="clutter-title">Clutter</p>
  <p class="clutter-body">Clutter Magazine is the world's premier media source for Designer Toys and the trusted thought-leader of this global subculture community. Since 2004, Clutter has been the go-to destination for creatives, companies and collectors, providing regular in-depth trend analysis directly from the vinyl frontier where fine art meets fine artifacts.

  With a high-quality print magazine, dynamic online portals, an art gallery, lifestyle apparel and the first Designer Toy field specific award ceremony, Clutter is the catalyst for a uniquely active and vocal community engaged in the serious business of work and play.</p>
</div>
</div>

</div>
<div class="sponsors-page">
  <div class="sponsors-container">
  <p>Sponsors</p>
  <p>Special thanks to all of the sponsors of the DTAs!</p>
  <img class="sponsor-img" src="assets/images/Sponsors.png" alt="">
</div>
</div>
<div class="donate-page">
  <p>Donate</p>

</div>
<div class="contact-page">
  <p>Contact</p>

</div>
