<nav>
  <div class="nav">
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'news-media'}}News &amp; Media{{/link-to}}
    {{#link-to 'participation'}}Enter the DTAs{{/link-to}}
  </div>
</nav>

  {{outlet}}
