
  <div class="header">
    <nav>
    {{#link-to 'index'}}Designer Toy Awards{{/link-to}}
    {{#link-to 'winners'}}Winners{{/link-to}}
    {{#link-to 'awards'}}Awards{{/link-to}}
    {{#link-to 'news'}}News{{/link-to}}
    {{#link-to 'panel'}}DTA Panel{{/link-to}}
    {{#link-to 'sponsors'}}Sponsors{{/link-to}}
    </nav>
  </div>

  {{outlet}}
