{{outlet}}
<div class="enter-page">
    <img class="enter-img" src="assets/images/Enter.svg" alt="Toy king on shelf" />
  </div>
  <!-- <div class="left-text"> -->
    <div class="enter-box">
      <p class="designer-p">
        Designer
      </p>
      <p class="toyawards-p">
        TOY AWARDS
      </p>

      <div class="yellow-line"></div>

      <div class="welcome-box">
        <p class="welcome-p">
          Welcome to the Designer Toy Awards site. The Designer Toy Awards lead in honoring excellence and innovation in the Designer Toy field.
        </p>
      </div>

    </div>
  <!-- </div> -->




<div class="winners-page">
    <div class="scrollmenu">
      <a href="#">
        <img class="toyIMG" id="bestArtistToy" src="assets/images/scrollARTISTOTY.png" alt="ARTIST OF THE YEAR"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="bestToy" src="assets/images/scrollTOYOTY.png" alt="TOY OF THE YEAR"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="bestBrandToy" src="assets/images/scrollBRAND.png" alt="BRAND OF THE YEAR"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="resinToy" src="assets/images/scrollBESTRESIN.png" alt="BEST RESIN"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="customToy" src="assets/images/scrollCUSTOM.png" alt="CUSTOM OF THE YEAR"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="breakThroughToy" src="assets/images/scrollBREAKTHROUGH.png" alt="BREAK THROUGH ARTIST"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="miniSeriesToy" src="assets/images/scrollMINISERIES.png" alt="MINI-SERIES OF THE YEAR"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="licensedToy" src="assets/images/scrollLICENSED.png" alt="BEST LICENSED TOY"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="nonPlasticToy" src="assets/images/scrollNONPLASTIC.png" alt="BEST NON-PLASTIC"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="onlineToy" src="assets/images/scrollONLINE.png" alt="BEST ONLINE TOY STORE"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="diyToy" src="assets/images/scrollDIY.png" alt="BEST DIY PLATFORM"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="sofubiToy" src="assets/images/scrollSOFUBI.png" alt="BEST SOFUBI"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="lifetimeToy" src="assets/images/scrollLIFETIME.png" alt="LIFETIME ACHIEVEMENT"/>
      </a>

    </div>
  </div>
