{{outlet}}

<div class="enter-box">
  <p class="designer-p">
    Designer
  </p>
  <p class="toyawards-p">
    TOY AWARDS
  </p>

  <div class="yellow-line"></div>

  <div class="welcome-box">
    <p class="welcome-p">
      Welcome to the Designer Toy Awards site. The Designer Toy Awards lead in honoring excellence and innovation in the Designer Toy field.
    </p>
  </div>

  {{#link-to 'winners'}}
    <p class="enter-p">
        enter
    </p>
  {{/link-to}}

</div>


<img class="enter-img" src="assets/images/Enter.svg" alt="Toy king on shelf" />
