{{outlet}}
<div class="mobile" id="mobile-page">
  <div class="mobile" id="mobile-container">
    <img class="mobile" src="/assets/images/mobile.svg" alt="">
    <p class="mobile">
      Sorry, this site is not yet available
      <br>
      for mobile &amp; tablet users.</p>
  </div>
</div>

<div class="app-container">

  <!-- ENTER PAGE -->
  <div class="enter-page">
    <div class="banner">
      <p>
        This is not the official Designer Toy Awards website. This website was created for the sole reason of allowing the creator to practice website code and design, and no compensation has been received for the creation or display of the site. If you are trying to reach the official Designer Toy Awards website, click
        <a href="http://www.designertoyawards.com">here</a>.
      </p>
    </div>
    <img class="enter-img" src="assets/images/Enter.svg" alt="Toy king on shelf" />
  </div>
  <div class="enter-box">
    <p class="designer-p">
      Designer
    </p>
    <p class="toyawards-p">
      TOY AWARDS
    </p>
    <div class="yellow-line">
    </div>
    <div class="welcome-box">
      <p class="welcome-p">
        Welcome to the Designer Toy Awards site. The Designer Toy Awards is the leader in honoring excellence and innovation in the Designer Toy field, hosted by Clutter Magazine.
        <br><br>
        See this year's winners, judging panel, and DTA news.
      </p>
      <p class="red-text">( scroll down to begin )</p>
    </div>
  </div>

  <!-- END ENTER PAGE -->

  <!-- INTRO PAGE -->

  <div class="intro-page">
    <div class="toyKingContent">
      <div class="toyKingImg">
        <img class="toyKing" id="toyKing" src="assets/images/ToyKingOriginal.svg" alt="THE TOY KING"/>
      </div>
      <div class="toyKingText">
        <div class="toyKingBlurb">
          <p class="page-head1">
            <span class="page-head2">Meet the</span>
            <br>
            Toy King.
          </p>
          <p>
            The Toy King is our trusted leader.
            <br><br>
            He is dedicated. He is wise. Our king knows best.
            <br><br>
            And in honor of our noble king, his image has been recreated in gold, to be awarded to the best toy brands, artists, and designers.
            <br><br>
            With the assistance of our trusted judges, one Toy King trophy is awarded to the winner(s) in each of the thirteen DTA categories.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- END INTRO PAGE -->

  <!-- WINNERS PAGE -->

  <div class="header-title">
    <p class="title-bold">THIS YEAR'S WINNERS</p>
    <p class="title-thin">&nbsp;By Category</p>
  </div>
  <div class="winners-page">
    <div class="scrollmenu-winners">
      <div class="win" id="small-width">
        <p class="scroll">(Scroll that way &uarr;)</p>
      </div>

      <div class="win">
        <img class="toyIMG" id="bestArtistToy" src="assets/images/scrollArtistOTY.png" alt="ARTIST OF THE YEAR"/>
        <div class="win-container">
          <div class="win-text">
            <p class="win-award">ARTIST OF THE YEAR</p>
            <p class="win-name">Ron English</p>
          </div>
        </div>
      </div>

      <div class="win">
        <img class="toyIMG" id="bestToy" src="assets/images/scrollTOYOTY.png" alt="TOY OF THE YEAR"/>
        <div class="win-container">
          <div class="win-text">
            <p class="win-award">TOY OF THE YEAR</p>
            <p class="win-name">Abominable
              <br>
              <span class="second-line">Snowman</span>
            </p>
          </div>
        </div>
      </div>
      <div class="win">
        <img class="toyIMG" id="bestBrandToy" src="assets/images/scrollBRAND.png" alt="BRAND OF THE YEAR"/>
        <div class="win-container">
          <div class="win-text">
            <p class="win-award">BRAND OF THE YEAR</p>
            <p class="win-name">Unbox Industries</p>
          </div>
        </div>
      </div>
      <div class="win">
        <img class="toyIMG" id="resinToy" src="assets/images/scrollBESTRESIN.png" alt="BEST RESIN"/>
        <div class="win-container">
          <div class="win-text">
            <p class="win-award">BEST RESIN</p>
            <p class="win-name">Infected Target</p>
          </div>
        </div>
      </div>
      <div class="win">
        <img class="toyIMG" id="customToy" src="assets/images/scrollCUSTOM.png" alt="CUSTOM OF THE YEAR"/>
        <div class="win-container">
          <div class="win-text">
            <p class="win-award">CUSTOM OF THE YEAR</p>
            <p class="win-name">Deathshead
              <br>
              <span class="second-line">Drum Major</span>
            </p>
          </div>
        </div>
      </div>
      <div class="win">
        <img class="toyIMG" id="breakThroughToy" src="assets/images/scrollBREAKTHROUGH.png" alt="BREAK THROUGH ARTIST"/>
        <div class="win-container">
          <div class="win-text">
            <p class="win-award">BREAK-THROUGH ARTIST</p>
            <p class="win-name">Horrible
              <br>
              <span class="second-line">Adorables</span>
            </p>
          </div>
        </div>
      </div>
      <div class="win">
        <img class="toyIMG" id="miniSeriesToy" src="assets/images/scrollMINISERIES.png" alt="MINI-SERIES OF THE YEAR"/>
        <div class="win-container">
          <div class="win-text">
            <p class="win-award">BEST MINISERIES</p>
            <p class="win-name">Thimblestump
              <br>
              <span class="second-line">Hollow</span>
            </p>
          </div>
        </div>
      </div>
      <div class="win">
        <img class="toyIMG" id="licensedToy" src="assets/images/scrollLICENSED.png" alt="BEST LICENSED TOY"/>        <div class="win-container">
          <div class="win-text">
            <p class="win-award">BEST LICENSED</p>
            <p class="win-name">Sketracha
              <br>
              <span class="second-line">Dunny</span>
            </p>
          </div>
        </div>
      </div>
      <div class="win">
        <img class="toyIMG" id="nonPlasticToy" src="assets/images/scrollNONPLASTIC.png" alt="BEST NON-PLASTIC"/>
        <div class="win-container">
          <div class="win-text">
            <p class="win-award">BEST NON-PLASTIC</p>
            <p class="win-name">Pothead</p>
          </div>
        </div>
      </div>
      <div class="win">
        <img class="toyIMG" id="onlineToy" src="assets/images/scrollONLINE.png" alt="BEST ONLINE TOY STORE"/>
        <div class="win-container">
          <div class="win-text">
            <p class="win-award">BEST ONLINE TOY STORE</p>
            <p class="win-name">Rotofugi</p>
          </div>
        </div>
      </div>
      <div class="win">
        <img class="toyIMG" id="diyToy" src="assets/images/scrollDIY.png" alt="BEST DIY PLATFORM"/>
        <div class="win-container">
          <div class="win-text">
            <p class="win-award">BEST DIY PLATFORM</p>
            <p class="win-name">The Blank</p>
          </div>
        </div>
      </div>
      <div class="win">
        <img class="toyIMG" id="sofubiToy" src="assets/images/scrollSOFUBI.png" alt="BEST SOFUBI"/>
        <div class="win-container">
          <div class="win-text">
            <p class="win-award">BEST SOFUBI</p>
            <p class="win-name">Curio</p>
          </div>
        </div>
      </div>
      <div class="win">
        <img class="toyIMG" id="lifetimeToy" src="assets/images/scrollLIFETIME.png" alt="LIFETIME ACHIEVEMENT"/>
        <div class="win-container">
          <div class="win-text">
            <p class="win-award">LIFETIME ACHIEVEMENT</p>
            <p class="win-name">Brian Flynn</p>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- END WINNERS PAGE -->

    <!-- JUDGE-INTRO PAGE -->

  <div class="judge-intro">
    <div class="judge-content">
      <div class="judge-img">
        <img class="judge-panel" id="judge-panel" src="assets/images/JudgePanel.svg" alt="THE TOY KING"/>
      </div>
      <br><br>
      <div class="judge-blurb">
        <div class="section1">
          <p class="page-head1">Honored&nbsp;Members</p>
          <p class="page-head2">Judging&nbsp;Panel</p>
        </div>
        <div class="section2">
          <p class="body">
            Within most Designer Toy Award categories, the selection of a winner is overseen by our current DTA judging panel. Comprised of a select group of professionals within the field - artists, producers, collectors, and others - each brings their unique expertise and perspective to the selection process. We are honored to introduce our standing panel.
          </p>
        </div>
      </div>
    </div>
  </div>

    <!-- END JUDGE-INTRO PAGE -->

    <!-- JUDGES PAGE -->

  <div class="header-title">
    <p class="title-bold">THIS YEAR'S JUDGES</p>
    <p class="title-thin">&nbsp;By name &AMP; title</p>
  </div>
  <div class="judging-page">
    <div class="scrollmenu-judging">
      <div class="judge-group" id="small-width">
        <p class="scroll">(Scroll that way &uarr;)</p>
      </div>

        <div class="judge-group" id="judge-group-1">
          <p class="judge-name">Aaron Martin</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Abell Octovan</p>
          <p class="judge-title">Artist/Manufacturer</p>

          <p class="judge-name">Adam Washburn</p>
          <p class="judge-title">Publisher</p>

          <p class="judge-name">Aidan Onn</p>
          <p class="judge-title">Toy Store Owner</p>

          <p class="judge-name">Amy Del Castillo</p>
          <p class="judge-title">Brand Co-Owner</p>

          <p class="judge-name">Andrew Bell</p>
          <p class="judge-title">Artist/Toy Designer</p>

          <p class="judge-name">Andy B</p>
          <p class="judge-title">Blogger</p>
        </div>

        <div class="judge-group" id="judge-group-2">
          <p class="judge-name">Andy Heng</p>
          <p class="judge-title">Blogger</p>

          <p class="judge-name">Anna Chambers</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Attaboy</p>
          <p class="judge-title">Artist/Toy Designer/Editor</p>

          <p class="judge-name">Ayleen Gaspar</p>
          <p class="judge-title">Toy Designer/Video Blogger</p>

          <p class="judge-name">Barry Hogan</p>
          <p class="judge-title">Promoter</p>

          <p class="judge-name">Benny Kline</p>
          <p class="judge-title">Store Owner</p>

          <p class="judge-name">Björn V. Eding</p>
          <p class="judge-title">Artist</p>
        </div>

        <div class="judge-group" id="judge-group-3">
          <p class="judge-name">Brian Flynn</p>
          <p class="judge-title">Publisher/Toy Manufacturer</p>

          <p class="judge-name">Brian McCarty</p>
          <p class="judge-title">Toy Photographer</p>

          <p class="judge-name">Brian Slivka</p>
          <p class="judge-title">Blogger</p>

          <p class="judge-name">Bubi Au Yeung</p>
          <p class="judge-title">Artist/Toy Designer</p>

          <p class="judge-name">Buff Monster</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Bwana Spoons</p>
          <p class="judge-title">Artist/Toy Designer</p>

          <p class="judge-name">Camilla d'Errico</p>
          <p class="judge-title">Artist</p>
        </div>

        <div class="judge-group" id="judge-group-4">
          <p class="judge-name">Carl Kent-Smith</p>
          <p class="judge-title">Blogger</p>

          <p class="judge-name">Cassandra Velasco</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Chad Phillips</p>
          <p class="judge-title">Trend Setter</p>

          <p class="judge-name">Chad Rugola</p>
          <p class="judge-title">Designer/Toy Manufacturer</p>

          <p class="judge-name">Chris Tsang</p>
          <p class="judge-title">Store Owner/Toy Manufacturer</p>

          <p class="judge-name">Clay Ferguson</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Colin Christian</p>
          <p class="judge-title">Artist</p>
        </div>

        <div class="judge-group" id="judge-group-5">
          <p class="judge-name">Daniel Perry</p>
          <p class="judge-title">Brand Owner</p>

          <p class="judge-name">Dave Bondi</p>
          <p class="judge-title">Artist/Sculptor</p>

          <p class="judge-name">David Stowe</p>
          <p class="judge-title">Designer/Brand Owner</p>

          <p class="judge-name">Dov Kelemer</p>
          <p class="judge-title">Distributor</p>

          <p class="judge-name">DrilOne</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Emily Brough</p>
          <p class="judge-title">Mistress of Toys</p>

          <p class="judge-name">Eric So</p>
          <p class="judge-title">Artist/Toy Designer</p>
        </div>

        <div class="judge-group" id="judge-group-6">
          <p class="judge-name">Ernie Velasco</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Frank Kozik</p>
          <p class="judge-title">Poster Artist/Designer</p>

          <p class="judge-name">Fumi Kelleher</p>
          <p class="judge-title">Toy Development Manager</p>

          <p class="judge-name">Gary Ham</p>
          <p class="judge-title">Artist/Toy Designer</p>

          <p class="judge-name">Gino Joukar</p>
          <p class="judge-title">Toy Store/Gallery Owner</p>

          <p class="judge-name">Greg Rivera/Greg Mishka</p>
          <p class="judge-title">Brand Owner</p>

          <p class="judge-name">Guillaume Lachambre</p>
          <p class="judge-title">Artist</p>
        </div>

        <div class="judge-group" id="judge-group-7">
          <p class="judge-name">Hana Kim</p>
          <p class="judge-title">Curator of Cute</p>

          <p class="judge-name">Huck Gee</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Ian Ziobrowski</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Igor Ventura</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Israel "lev" Levarek</p>
          <p class="judge-title">Toy Store Owner/Manufacturer</p>

          <p class="judge-name">Jack Muramatsu</p>
          <p class="judge-title">Blogger</p>

          <p class="judge-name">Jackson Aw</p>
          <p class="judge-title">Manufacturer</p>
        </div>

        <div class="judge-group" id="judge-group-8">
          <p class="judge-name">Jake Lee</p>
          <p class="judge-title">Manufacturer</p>

          <p class="judge-name">James Liu</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Jason Freeny</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Jeff Lamm</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Jeremy Brautman</p>
          <p class="judge-title">Blogger</p>

          <p class="judge-name">Jeremy Madl</p>
          <p class="judge-title">Artist/Toy Designer/ Manufacturer</p>

          <p class="judge-name">Jermaine Rogers</p>
          <p class="judge-title">Rock Poster Artist</p>
        </div>

        <div class="judge-group" id="judge-group-9">
          <p class="judge-name">Jesse Hernandez</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Joanne Suavillo</p>
          <p class="judge-title">Commander in Chief</p>

          <p class="judge-name">Joe Leiner</p>
          <p class="judge-title">Blogger/Designer</p>

          <p class="judge-name">Joël van Egmond</p>
          <p class="judge-title">Retailer</p>

          <p class="judge-name">John Stokes</p>
          <p class="judge-title">Blogger</p>

          <p class="judge-name">John Wee Tom</p>
          <p class="judge-title">Curator</p>

          <p class="judge-name">Jon Malmstedt</p>
          <p class="judge-title">Artist/Manufacturer</p>
        </div>

        <div class="judge-group" id="judge-group-10">
          <p class="judge-name">Jon-Paul Kaiser</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Jonathan Cathey</p>
          <p class="judge-title">Brand President &amp; Co-Founder</p>

          <p class="judge-name">Jonathan DuBose</p>
          <p class="judge-title">Artist/Manufacturer</p>

          <p class="judge-name">Jonathan LeVine</p>
          <p class="judge-title">Galley Owner</p>

          <p class="judge-name">Julia Lachambre</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Julie B</p>
          <p class="judge-title">Art Manufacturer/Fabricator</p>

          <p class="judge-name">Julie West</p>
          <p class="judge-title">Artist</p>
        </div>

        <div class="judge-group" id="judge-group-11">
          <p class="judge-name">Junnosuke Abe</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">J★RYU</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">kaNO</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Kazuhiro "2" Takahashi</p>
          <p class="judge-title">Toy Manufacturer</p>

          <p class="judge-name">Keegan Rooney</p>
          <p class="judge-title">Blogger</p>

          <p class="judge-name">Kelly Denato</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Kevin "Big Kev" Schwoebel</p>
          <p class="judge-title">Media/Radio Personality</p>
        </div>

        <div class="judge-group" id="judge-group-12">
          <p class="judge-name">Kim Fung Wong</p>
          <p class="judge-title">Toy Manufacturer</p>

          <p class="judge-name">Kirby Kerr</p>
          <p class="judge-title">Store Owner/Manufacturer</p>

          <p class="judge-name">Klim Kozinevich</p>
          <p class="judge-title">Toy Designer</p>

          <p class="judge-name">Lana Crooks</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Lee Gajda</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Lee McSweeney</p>
          <p class="judge-title">Retailer</p>

          <p class="judge-name">Lou Pimentel</p>
          <p class="judge-title">Artist</p>
        </div>

        <div class="judge-group" id="judge-group-13">
          <p class="judge-name">Luc Hudson</p>
          <p class="judge-title">Designer</p>

          <p class="judge-name">Maria Kaner</p>
          <p class="judge-title">Graphic Designer/Photographer</p>

          <p class="judge-name">Mark Nagata</p>
          <p class="judge-title">Designer/Manufacturer</p>

          <p class="judge-name">Matt "Lunartik" Jones</p>
          <p class="judge-title">Artist/Toy Designer</p>

          <p class="judge-name">Michael Rouah</p>
          <p class="judge-title">Toy Store Owner/Manufacturer</p>

          <p class="judge-name">Michelle Valigura</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Miranda O'Brien</p>
          <p class="judge-title">Editor in Chief/Partner</p>
        </div>

        <div class="judge-group" id="judge-group-14">
          <p class="judge-name">Nathan Hamill</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Nathan Jurevicius</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Nicholas Tok</p>
          <p class="judge-title">Collector</p>

          <p class="judge-name">Patrick Lam</p>
          <p class="judge-title">Store Owner/Manufacturer</p>

          <p class="judge-name">Paul Budnitz</p>
          <p class="judge-title">Founder Kidrobot</p>

          <p class="judge-name">Paul Cruikshank</p>
          <p class="judge-title">Designer/Toy Manufacturer</p>

          <p class="judge-name">Pete Fowler</p>
          <p class="judge-title">Artist/Illustrator</p>
        </div>

        <div class="judge-group" id="judge-group-15">
          <p class="judge-name">Peter Goral</p>
          <p class="judge-title">Toy Maker &amp; Designer</p>

          <p class="judge-name">Peter Kato</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Raymond Choy</p>
          <p class="judge-title">Toy Manufacturer</p>

          <p class="judge-name">Rich Moskal</p>
          <p class="judge-title">Store Owner/Manufacturer</p>

          <p class="judge-name">Rich Page</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Ricky Wilson</p>
          <p class="judge-title">Toy Maker</p>

          <p class="judge-name">Rob Ames</p>
          <p class="judge-title">Artist/Toy Designer</p>
        </div>

        <div class="judge-group" id="judge-group-16">
          <p class="judge-name">Rob Manley</p>
          <p class="judge-title">Artist Manager/Manufacturer</p>

          <p class="judge-name">Ron English</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Sarah Jo Marks</p>
          <p class="judge-title">Distributor</p>

          <p class="judge-name">Scott Tolleson</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Sergio Mancini</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Shawn Smith</p>
          <p class="judge-title">Plush Master</p>

          <p class="judge-name">Shigeru Arai</p>
          <p class="judge-title">Artist</p>
        </div>

        <div class="judge-group" id="judge-group-17">
          <p class="judge-name">Shinji Tomenosuke Nakako</p>
          <p class="judge-title">Store Owner/Manufacturer</p>

          <p class="judge-name">Simone Legno</p>
          <p class="judge-title">Designer</p>

          <p class="judge-name">Sket One</p>
          <p class="judge-title">Artist/Toy Designer</p>

          <p class="judge-name">Squink</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Sven Waschk</p>
          <p class="judge-title">Artist/Manufacturer</p>

          <p class="judge-name">T9G</p>
          <p class="judge-title">Artist/Sculptor</p>

          <p class="judge-name">Tara McPherson</p>
          <p class="judge-title">Artist</p>
        </div>

        <div class="judge-group" id="judge-group-18">
          <p class="judge-name">Tasha Zimich</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Tim Tsui</p>
          <p class="judge-title">Artist/Toy Designer</p>

          <p class="judge-name">Travis Lykins</p>
          <p class="judge-title">Blogger</p>

          <p class="judge-name">Tristan Eaton</p>
          <p class="judge-title">Artist/Toy Designer</p>

          <p class="judge-name">Vincent Fiorello</p>
          <p class="judge-title">Musician/Manufacturer</p>

          <p class="judge-name">Vincent Yu</p>
          <p class="judge-title">Store Owner/Manufacturer</p>

          <p class="judge-name">Whitney Kerr</p>
          <p class="judge-title">Toy Store Owner</p>
        </div>

        <div class="judge-group" id="judge-group-19">
          <p class="judge-name">Yosiell Lorenzo</p>
          <p class="judge-title">Artist</p>

          <p class="judge-name">Yukari</p>
          <p class="judge-title">Designer/Plush Creator</p>

          <p class="judge-name">Zack Smith</p>
          <p class="judge-title">Writer</p>

        </div>

    </div>
  </div>
    <!-- END JUDGES PAGE -->
</div>
