{{outlet}}
<div class="news">
  <div class="header">
    <p class="page-head2">News &amp; Updates</p>
  </div>

  <div class="news-article">
    <div class="news-img">
    </div>
    <p class="date">10/04/2016</p>
    <p class="title">
      THE 6th ANNUAL DESIGNER TOY AWARDS HOSTED BY STELLA CHUU!</p>
    <p class="article">
      We know you all have been patiently waiting for us to announce the host of the 6th Annual Designer Toy Awards, so hold on to your socks as we reveal this year's big news…
      <br><br>
      Stella Chuu to host the 6th Annual Designer Toy Awards!
      <br><br>
      This year, our special host is renown cosplayer, Stella Chuu! Being an award-winning cosplayer and advocate for nerd culture and self-confidence, Stella is a match made in geek heaven for the Designer Toy Awards!
      <br><br>
      Join us this Saturday, October 8th, 8pm - 11pm EST for the 6th Annual Designer Toy Award Ceremony! You still have a chance to RSVP in this celebration of our industry, so what are you waiting for? Come, have a drink, be merry and see friends old and new.
    </p>
  </div>
</div>


<p>Media</p>
<p>Social Media</p>
