{{outlet}}

<div class="app-container">
  <div class="news-container">


    <div class="news-banner">
      <p>
        This page is under construction.
      </p>
    </div>
    <div class="news-page">
      <div class="news-intro">
        <div class="intro-container">
          <div class="header">
            <p class="page-head2">News &amp; Updates</p>
            <p>Catch the latest DTA news here, including: DTA show updates, new toy releases, exclusive artist interviews &amp; more!</p>
          </div>
        </div>
      </div>
      <div class="header-title">
        <p class="title-bold">LATEST NEWS</p>
        <p class="title-thin">&nbsp;Click to Open</p>
      </div>

      <div class="article-container">
        <div>

          <!-- Start of Article -->
          <div class="news-article" id="article1">

            <div class="news-header">

              <div class="title-container">
                <p class="news-title">
                  The 6th Annual Designer Toy Awards Hosted By Stella Chuu!
                </p>
              </div>

              <div class="date-container">
                <p class="news-date">
                  10/04/2016
                </p>
              </div>

            </div>

            <div class="news-img">
              <img src="assets/images/NewsImg1.jpg" alt="">
            </div>


            <p class="news-text">
              We know you all have been patiently waiting for us to announce the host of the 6th Annual Designer Toy Awards, so hold on to your socks as we reveal this year's big news…
              <br><br>
              Stella Chuu to host the 6th Annual Designer Toy Awards!
              <br><br>
              This year, our special host is renown cosplayer, Stella Chuu! Being an award-winning cosplayer and advocate for nerd culture and self-confidence, Stella is a match made in geek heaven for the Designer Toy Awards!
              <br><br>
              Join us this Saturday, October 8th, 8pm - 11pm EST for the 6th Annual Designer Toy Award Ceremony! You still have a chance to RSVP in this celebration of our industry, so what are you waiting for? Come, have a drink, be merry and see friends old and new.
            </p>
            <div class="divider"></div>
            <div class="divider"></div>

          </div>
          <!-- End of Article -->
          <!-- Start of Article -->
          <div class="news-article" id="article2">

            <div class="news-header">

              <div class="title-container">
                <p class="news-title">
                  Voting is now OPEN for the 6th Annual Designer Toy Awards!
                </p>
              </div>

              <div class="date-container">
                <p class="news-date">
                  09/19/2016
                </p>
              </div>

            </div>

            <div class="news-img">
              <img src="assets/images/NewsImg2.jpg" alt="">
            </div>


            <p class="news-text">
              Thank you everyone, for all of the amazing nominations for the 6th Annual Designer Toy Awards! Our nomination committees worked tirelessly to whittle down the 100’s of nominees and finally we are happy to announce the shortlist of FINALISTS!
              <br><br>
              We would like to take this opportunity to sincerely thank our committees for all their hard work, they really go above any beyond to meet daily and discuss each and every category and entry in depth! Believe us when I tell you, every aspect was discussed.
              <br><br>
              Pro Committee: Jackson Aw, Huck Gee, Dov Kelemer, Kirby Kerr, Benny Kline, Travis Lykins, Gary Rozanski, John Stokes, and Vincnt Yu.
              <br><br>
              Public: Justin Cheah , Lee Funai, Ketha Insomphou, Steve Lew, Rob Lumino, and Katherine Park
              <br><br>
              Together, they created our Shortlists of 2016! Congratulations to all the finalists!
              <br><br>
              And now it is up to you–yes, you!–to vote on the best of 2015! Voting in the DTA public categories is easy as cake. Just follow these steps:
              <br><br>
              Log in or create a new account above. If you have an account but have forgotten the password, you can retrieve it here.
              Go to the categories page.
              Vote once in each of the six awards under Public Voting.
              <br><br>
              Tada! You've voted! Simple as that.
              <br><br>
              Public voting remains open until Monday, Sept, 26th at 12 (noon) est! So hurry and submit your votes before it's too late!
              <br><br>
              Happy voting!
              Please note that voting more than once in each category, even if you've created multiple accounts, is grounds for all your votes being removed and, potentially, the party you're voting for being disqualified.
            </p>
            <div class="divider"></div>
            <div class="divider"></div>

          </div>
          <!-- End of Article -->
          <!-- Start of Article -->
          <div class="news-article" id="article3">

            <div class="news-header">

              <div class="title-container">
                <p class="news-title">
                  Clutter &amp; Kidrobot announce the NYCC DTA Dunny Show!
                </p>
              </div>

              <div class="date-container">
                <p class="news-date">
                  09/13/2016
                </p>
              </div>

            </div>

            <div class="news-img">
              <img src="assets/images/NewsImg3.png" alt="">
            </div>


            <p class="news-text">
              Celebrating the launch of the 5" blank Dunny platform, and the 6th Annual Designer Toy Awards, Kidrobot, Clutter and The Designer Toy Awards have once again teamed up to bring collectors a visual treat! Bringing together some of the industries top artists from around the globe, we are excited to announce the third installment of the DTA Dunny Show, "The NYCC DTA Dunny Show!"
              <br><br>
              With the aim to expand the market reach of Designer Toys, and to celebrate the effort of all involved, Kidrobot (long time supports of Clutter and The Designer Toy Awards) have once again donated all proceeds to fund the annual awards ceremony.
              <br><br>
              The list of participating artists include:
              <br><br>
              64 colors • Ally Burke • Amanda Louise Spayd • Camilla D'Errico • Chris Ryniak  • Dave Markart • Eimi Takano • Fiona Ng • Gary Ham • ibreaktoys • JeAA • The Bots • Jon-Paul Kaiser • Josh Mayhem • Kristina Drake • Lauren YS • Mike Strick • MJ Hsu • Mr. Mitote • Otto Bjornik • Patrick Wong • Quiccs • rxSEVEN • Sabrina Elliott • Scarecrowoven • Scott Wilkowski • Seriously Silly K x Scott Tolleson  •  Tasha Zimich • Tokyo Jesus • Tomodachi Island • wetworks • Yu maeda & Zard Apuya. Artists will be using the hashtag #NYCCDTADunnyShow as they post images of their works-in-progress leading up the show.
              <br><br>
              A mixture of 5" and 8" Dunny  will be on display during New York Comic Con, October 6th - 10th at booth #603. Remaining pieces will be displayed at The Clutter Gallery (163 Main St., Beacon, NY), for the remainder of the week. Pieces will be first available on the floor of NYCC, then online at shop.cluttermagazine.com.
            </p>
            <div class="divider"></div>
            <div class="divider"></div>

          </div>
          <!-- End of Article -->
          <!-- Start of Article -->
          <div class="news-article" id="article4">

            <div class="news-header">

              <div class="title-container">
                <p class="news-title">
                  The 6th Annual DTAs on October 8th at Hudson Terracy NYC!
                </p>
              </div>

              <div class="date-container">
                <p class="news-date">
                  08/31/2016
                </p>
              </div>

            </div>

            <div class="news-img">
              <img src="assets/images/NewsImg4.jpg" alt="">
            </div>


            <p class="news-text">
              We are pleased to announce that the 6th annual Designer Toy Awards will be held on Saturday, October 8th at Hudson Terrace NYC!  Taking place on Saturday night of New York Comic Con weekend, this venue (which you may remember from last year) is just a short walk from the Javits Center.
              <br><br>
              Join us and your favorite artists to celebrate the best toys, artists, and brands of last year! Time, tickets, and plenty of more information will be announced shortly, so stay tuned and follow the DTAs on Twitter at @TheToyAwards and on Instagram at @designertoyawards.
            </p>
            <div class="divider"></div>
            <div class="divider"></div>


          </div>
          <!-- End of Article -->

        </div>
      </div>
    </div>

  </div>


    <!-- <p>Media</p>
    <p>Social Media</p> -->
</div>

<!-- Mobile Page -->
<div class="mobile" id="mobile-page">
  <div class="mobile" id="mobile-container">
    <img class="mobile" src="/assets/images/mobile.svg" alt="">
    <p class="mobile">
      Sorry, this site is not yet available
      <br>
      for mobile &amp; tablet users.</p>
  </div>
</div>
<!-- End Mobile Page -->
