{{outlet}}

<!-- PROCESS PAGE -->

<div class="process-page">
  <div class="process-container">
    <div class="process-text">

      <p>
        <span class="page-head1">How it Works</span>
        <br>
        <span class="page-head2">The DTA Process</span>
        <br><br>
        <span class="process-numbered">
          1. Nomination Period (July 1st to July 17th)
        </span>
        <br><br>
        <div class="process-block">
          Pubic nominations are open in all categories, with the exception of Lifetime Achievement and Toy of the Year*. Anyone can nominate anything that meets the requirements for a category. If it is not nominated then it can not be considered to become a finalist or winner.
        * The nine finalists in Toy of the Year will be selected from the nominees in any release based category.
      </div>
        <br><br>
        <span class="process-numbered">
          2. Finalists Selected &amp; Announced (July 18th to September 4th)
        </span>
        <br><br>
        <div class="process-block">
          The nominees in each category are narrowed down by the Nomination Committee to the finalists; there will be six finalists in every category. All finalists will be announced on August 14th.
        </div>
        <br><br>
        <span class="process-numbered">
          3. Voting Period (September 19th to September 26th)
        </span>
        <br><br>
        <div class="process-block">
          Voting commences in all categories, selecting one winner in each category from the finalists. Everyone is able to vote once in six fan decided categories — Artist of the Year: Fan Choice, Best Blog, Best Toy Store, Best Online Toy Store, Custom of the Year: Fan Choice, and Toy of the Year: Fan Choice — with all remaining categories having the winners selected by the profession Judging Panel.
        </div>
        <br><br>
        <span class="process-numbered">
          4. Winners Announced (October 10th)
        </span>
        <br><br>
        <div class="process-block">
          The winners in every category are announced during a live ceremony held in NYC during New York Comic Con weekend.
        </div>
      </p>
    </div>
  </div>
</div>

<!-- END PROCESS PAGE -->

<!-- REGULATIONS PAGE -->

<div class="regulations-page">
  <div class="regulations-container">
    <p>
      Eligibility
      The Designer Toy Awards are open to all organizations and individuals involved in the designing, manufacturing, marketing, managing, commenting on and promoting the Designer Toy and Art Toy fields. Entries must have been either released, in the case of products, or have shown use or activity, in the case of websites and artists, during the previous calendar year. Entries that have won awards in past DTAs and meet any requirements are eligible for the current competition.

      DISQUALIFICATION
      Entries determined to ineligible may be disqualified at any phase of the competition without notification.

      Nominations
      Anyone can freely enter an individual or organization which meets the eligibility requirements in any category, save those that are either specially awarded (such as Hall of Fame and Lifetime Achievement) or have the finalists strictly based on nominations from other categories (such as Toy of the Year). Duplicate entries will be disregarded without notification. The Designer Toy Awards will review all entries for proper eligibility, taking into consideration the release date or activity, the requirements to the submitted category, and any special considerations as specified in the category description(s).

      Selection of Finalists
      Toy of the Year: All finalists will be selected from nominees within the following categories: Best Media Tie-In, Best Mini-Series, Best Plush &amp; Other Non-Plastic, Best Resin, Best Sofubi, and Best Vinyl. The voting taken into consideration will be by the Nomination Committee, as detailed below.

      All other categories: The finalists will be selected in each category by a Nomination Committee from the entries nominated for consideration. The Designer Toy Awards shall convene a Nominations Committee comprised of industry members vetted by the Clutter Media Group. The Finalist Committee shall be organized in a manner to reduce any conflicts of interest or potential partialities. The Nomination Committee shall review all eligible entries and vote to select the finalists in each category.

      Selection of Winners
      Artist of the Year: Fan Choice, Best Blog, Best Toy Store, Best Online Toy Store, Custom of the Year: Fan Choice, and Toy of the Year: Fan Choice: The winner selected in these categories are determined by majority public voting.

      Lifetime Achievement and Hall of Fame: These categories have no finalists and the winner will then be selected in a non-public vote without disclosing the short listed names.

      All remaining categories: The ultimate winner in these categories will be determined by DTA Judging Panel.

      Winners and Ceremony
      Traditionally, DTA Winners are honored at an awards event held in mid-October. While this New York City-based event — timed to coincide with New York Comic-Con (NYCC) weekend — is not mandatory for finalists to attend to receive their award.

      Privacy
      All information submitted through the DTA's is subject to our privacy policy and will not be rented or sold to any other parties.
    </p>
  </div>
</div>

<!-- END REGULATIONS PAGE -->

<!-- AWARD DESCRIPTIONS PAGE -->

<div class="descriptions-page">
  <div class="descriptions-container">
    <p>
      Award Descriptions

      All artist or company based awards require that the individual or brand was active within the eligibility period (January 1st to December 31st of last year). Unless specified otherwise, all specific release based awards require that — within the same eligibility period — the platform in question was either initially released, had a significantly modified version released (such as with a new head), or had new paint scheme applied to it (such as a Dunny or Android).

      Unless specified otherwise, the term designer toy indicates a release that credit the artist and actively marketed the piece as the artist's creation.

      Artist of the Year &amp; Artist of the Year: Fan Choice
      Recognizing a single artist, artistic duo, or collective who designed and/or produced a variety of outstanding new releases last year as well as garnering a strong base of followers and a steady demand for new material.
      Requirements
      • Active and productive since the beginning of last year by creating original works and/or designing pieces for production.
      • Must have designed and/or created at least two (2) designer toys, including customs, last year.
      • Must have designed and/or created at least one (1) designer toy, including customs, last year that was issued in an edition of 10 or greater.
      • In addition to sole artists, those working under an established duo or collective name during last year are eligible as well.

      Brand of the Year
      Celebrating a designer toy company whose product releases last year have been consistently outstanding, of high quality, and had a breadth of diversity. While their toy releases are the most important other aspects will be considered, including events, sponsored promotions, and other supportive contributions to the Designer Toy community.
      Requirements
      • Active and productive since at least April of last year by releasing Designer Toys pieces.
      • Must have released works by at least two (2) different artists during last year.
      • At least half of the brands output must have been designer toys.
      • Brand can not be a vanity business, meaning that it cannot by owned &amp; operated by the sole artist (or artist duo/collective) that releases through it.

      Custom of the Year &amp; Custom of the Year: Fan Choice
      Recognizing a single artist, artistic duo, or collective who transformed an existing Designer Toy into an individually expressive art object. Consideration will be based on the custom's merits of concept, paint execution, additional sculpting (if applicable), and overall attention to detail.
      Requirements
      • Custom must have been completed and debuted last year.
      • The custom must have a production toy base, regardless of whether vinyl, resin, or any other primary material.

      Toy of the Year &amp; Toy of the Year: Fan Choice
      The Toy of the Year recognizes a singularly outstanding platform, whose design and manufacture was of the highest quality and execution. This award celebrates a Designer Toy that captured the imagination of the fans and became a popularly demanded item.
      There are no nominations for consideration directly in this category. Finalists will be selected by the Nomination Committee from the following categories: Best Media Tie-in, Best Mini-Series, Best Plush &amp; Other Non-Plastic, Best Resin, Best Sofubi, and Best Vinyl.

      Break-through Artist
      Presented in recognition of an artist who gained significant field-wide notice last year. While they could be relatively new to the scene or a professional who struggled for years, their dedication to Designer Toys and making a place for themselves within the community is honored with this award. Not only should they have had a variety of outstanding releases last year, but also an increased fan base and overall visibility.
      Requirements
      • Active and productive last year by creating original designer toy works and/or designing pieces for production.
      • To be considered for Breakthrough Artist, the artist can not have had a designer toy release prior to last year with an edition size greater than 50 pieces.

      Best Blog
      This award recognizes outstanding work by any news outlet with a main focus on Designer Toys. The category is not only open to traditional blogs but also podcasts, video blogs, or any other online resource for news regarding the art field. Nominated websites should have brought intelligent, informed, and diverse reporting to the Designer Toy niche.
      As organizer of these Designer Toy Awards, Clutter has recused themselves from being nominated in this category.
      Requirements
      • Active and productive since at least April of last year.
      • Must have been consistently active throughout last year, with no hiatuses longer than one month.
      • At least half of the blog's content last year must have been regarding designer toys.
      • While the name implies only blogs are applicable, this category is open to any online resource specializing in the designer toy industry.

      Best DIY Platform
      DIY Platform toys are one of the art field's greatest additions, allowing artists from every walk of life to use the form as a canvas. This category recognizes the best platform toy that is sold as a blank toy, without any paint applications or graphic designs. The DIY platform toy must have been actively sold last year and it must have become (or remained) an important part of the customizing community.
      Requirements
      • This category is open to any blank designer toy release, those without any paint application or graphic designs, that was actively available during last year; it need not have been initially made available during last year to qualify.
      • The company that released the piece must be an indie toy company (one that is not publicly traded).
      • Release must have been intended for Do-It-Yourself customization and not merely be an unpainted edition of a figure.

      Best Licensed
      Presented to an outstanding Designer Toy release with a design derived from an officially licensed (or creator approved) entertainment property: film, television, video game, or anything else. Nominees in this category will be judged not only on their quality as a toy but also their representation of the original property.
      Requirements
      • Release must be a brand new designer toy, or a significantly modified version of a previous release, that debuted last year and the design must have been derived from an officially licensed (or creator approved) entertainment property.
      • This category forgoes the requirement that the release actively uses the designer or artist's name in marketing of the piece.
      • The release must've been produced by an indie toy company (one that is not publicly traded).

      Best Non-Licensed
      Presented to an outstanding Designer Toy release with a design derived from an unofficially licensed or bootlegged entertainment property: film, television, video game, or anything else. Nominees in this category will be judged not only on their quality as a toy but also their representation of the original property.
      Requirements
      • Release must be a brand new designer toy, or a significantly modified version of a previous release, that debuted last year and the design must have been derived from a non-licensed entertainment property.
      • The release must've been produced by an indie toy company, or artist. (one that is not publicly traded).

      Best Mini Series
      Whether a production platform or customized toy series, this category acknowledges excellence in conceptually linked figures that have been produced in multiple quantities. Aspects considered in judging include quality of manufacturing, design, packaging, and even innovative use of thematic series elements.
      Requirements
      • Released series must be a brand new Designer Toy(s), or a significantly modified version of a previous release(s), debuted last year; significant modification includes differing paint schemes, such as a Dunny series would have.
      • Released series must have been branded as a series, even if each piece was available individually.
      • All figures in the series must have been released simultaneously.
      • The series must consist of at least three (3) figures, whether uniquely designed or variations of one another.
      • Custom series are acceptable, as long as the majority of designs in the series were available in quantities greater than one.

      Best Non-Plastic
      Celebrating the most innovative designer toys made mainly out of non-plastic materials to be released during the eligibility period. These are judged on design, construction, material usage, and overall execution.
      Requirements
      • Release must be a brand new designer toy, or a significantly modified version of a previous one, that was debuted last year.
      • Release must be at least half non-plastic materials, such as plush, wood, or metal. Please note resin pieces would fall under "Best Resin" category.
      * Must be a stand-alone release and not part of a series (see Best Mini-Series).

      Best Resin
      Presented to the best Designer Toy platform cast in resin, this category considers the quality of the finished piece, the sculpted design, and innovative use of color dyes and paints.
      Requirements
      • Release must be a brand new designer toy, or a significantly modified version of a previous release, that was debuted last year.
      • The majority of the release must be made out of resin, rubber, or similar materials.
      * Must be a stand-alone release and not part of a series (see Best Mini-Series).

      Best Sofubi
      Presented to the best Designer Toy manufactured platform using a sofubi (Japanese soft vinyl) style of production. This category celebrates the manner in which Japanese production techniques, factories, and design styles have become a mainstay for the Designer Toy market. The manufacturing quality, sculpting, and innovative color variations will all be considered for this award.
      Please note: This category is only open to platforms cast in sofubi. Pieces made out of "Western vinyl" (usually from China) should be entered in the Best Vinyl category.
      Requirements
      • Release must be a brand new designer toy, or a significantly modified version of a previous release, that was debuted last year.
      • The majority of the release must be made out of soft Japanese vinyl.
      * Must be a stand-alone release and not part of a series (see Best Mini-Series).

      Best Toy Store
      This category honors a brick-and-mortar (physical store) retailer that specializes in Designer Toys and has distinguished itself with outstanding activity last year. Nominees will be judged on knowledgeability, the range and selection of products offered, the overall store appearance and presentation, and any special events and/or shows the location hosted.
      Requirements
      • Active since at least April of last year, and have offered new stock during last year.
      • Stores must have a selection of products from various brands and artists.
      • The store must dedicate at least half of its inventory to designer toys.
      • This category is only available to those stores with a physical, brick-and-mortar location; those without one can only be considered for Best Online Toy Store (assuming they meet the requirements of that category).

      Best Online Toy Store
      Celebrating the outstanding achievement by an online retailer that specializes in Designer Toys and has been active last year. Criteria for consideration include range and selection of products, overall website presentation, ease of use, and customer service.
      Requirements
      • Active since at least April of last year, and have offered new stock during last year.
      • Stores must have a selection of products from various brands and artists.
      • The store must dedicate at least half of its inventory to designer toys.

      Best Vinyl &amp; Plastic
      Presented to the best Designer Toy platform manufactured using "Western vinyl," which typically means manufactured in China. The manufacturing quality, sculpting, and innovative color variations will all be considered for this award.
      Please note: This category is only open to platforms cast mainly in "Western vinyl" (usually from China), but includes other types of wester plastic such as ABS, PVC, etc. Pieces made out of sofubi (Japanese vinyl) should be entered in the Best Sofubi category.
      Requirements
      • Release must be a brand new designer toy, or a significantly modified version of a previous release, that was debuted last year.
      • The majority of the release must be made out of vinyl, not including soft Japanese vinyl (sofubi) which has its own category.
      * Must be a stand-alone release and not part of a series (see Best Mini-Series).

      Lifetime achievement
      Awarded to the individual who's shown long-term dedication, creativity, inspiration, and effort within the community. With a large number of 'unsung heroes' out there, it is our hope that this award will — in some manner — ensure that these tireless artists receive the recognition they deserve.

      Hall of Fame Inductees
      Some Designer Toys are iconic in the community but were released well before the beginnings of the DTAs. The Hall of Fame will induct at least one toy every year that was released at least 12 years previous and was pivotal in helping form the industry into what it is today.
    </p>
  </div>
</div>

<!-- END DESCRIPTIONS PAGE -->
