{{outlet}}
<div class="winners">

  <!-- <button onclick="document.getElementById('id01').style.display='block'" class="w3-btn">Open Modal</button>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-closebtn">&times;</span>
        <p>Some text. Some text. Some text.</p>
        <p>Some text. Some text. Some text.</p>
      </div>
    </div>
  </div> -->

  <img src="img_fjords.jpg" onclick="document.getElementById('id01').style.display='block'" class="w3-hover-opacity">

  <div id="modal01" class="w3-modal w3-animate-zoom" onclick="this.style.display='none'">
    <p>Some text. Some text. Some text.</p>
    <p>Some text. Some text. Some text.</p>
  </div>




  <div class="main-img">

    <div class="winners-title">
      <p class="designer-p">
        Designer
      </p>
      <p class="toyawards-p">
        TOY AWARDS
      </p>
      <p class="year-p">
        2016
      </p>
    </div>

    <div class="scrollmenu">
      <a href="#home">
        <img class="toyIMG" id="bestArtistToy" src="assets/images/scrollARTISTOTY.svg" alt="ARTIST OF THE YEAR"/>
      </a>

      <a href="#news">
        <img class="toyIMG" id="bestToy" src="assets/images/scrollTOYOTY.svg" alt="TOY OF THE YEAR"/>
      </a>

      <a href="#about">
        <img class="toyIMG" id="bestBrandToy" src="assets/images/scrollBRAND.svg" alt="BRAND OF THE YEAR"/>
      </a>

      <a href="#support">
        <img class="toyIMG" id="resinToy" src="assets/images/scrollBESTRESIN.svg" alt="BEST RESIN"/>
      </a>

      <a href="#blog">
        <img class="toyIMG" id="customToy" src="assets/images/scrollCUSTOM.svg" alt="CUSTOM OF THE YEAR"/>
      </a>

      <a href="#tools">
        <img class="toyIMG" id="breakThroughToy" src="assets/images/scrollBREAKTHROUGH.svg" alt="BREAK THROUGH ARTIST"/>
      </a>

      <a href="#base">
        <img class="toyIMG" id="miniSeriesToy" src="assets/images/scrollMINISERIES.svg" alt="MINI-SERIES OF THE YEAR"/>
      </a>

      <a href="#custom">
        <img class="toyIMG" id="licensedToy" src="assets/images/scrollLICENSED.svg" alt="BEST LICENSED TOY"/>
      </a>

      <a href="#more">
        <img class="toyIMG" id="nonPlasticToy" src="assets/images/scrollNONPLASTIC.svg" alt="BEST NON-PLASTIC"/>
      </a>

      <a href="#logo">
        <img class="toyIMG" id="onlineToy" src="assets/images/scrollONLINE.svg" alt="BEST ONLINE TOY STORE"/>
      </a>

      <a href="#friends">
        <img class="toyIMG" id="diyToy" src="assets/images/scrollDIY.svg" alt="BEST DIY PLATFORM"/>
      </a>

      <a href="#partners">
        <img class="toyIMG" id="sofubiToy" src="assets/images/scrollSOFUBI.svg" alt="BEST SOFUBI"/>
      </a>

      <a href="#people">
        <img class="toyIMG" id="lifetimeToy" src="assets/images/scrollLIFETIME.svg" alt="LIFETIME ACHIEVEMENT"/>
      </a>

    </div>


  </div>
</div>
