{{outlet}}
<div class="winners">

  <!-- <button onclick="document.getElementById('id01').style.display='block'" class="w3-btn">Open Modal</button>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-closebtn">&times;</span>
        <p>Some text. Some text. Some text.</p>
        <p>Some text. Some text. Some text.</p>
      </div>
    </div>
  </div> -->

  <img src="img_fjords.jpg" onclick="document.getElementById('id01').style.display='block'" class="w3-hover-opacity">

  <div id="modal01" class="w3-modal w3-animate-zoom" onclick="this.style.display='none'">
    <p>Some text. Some text. Some text.</p>
    <p>Some text. Some text. Some text.</p>
  </div>




  <div class="main-img">

    <div class="winners-title">
      <p class="designer-p">
        Designer
      </p>
      <p class="toyawards-p">
        TOY AWARDS
      </p>
      <p class="year-p">
        2016
      </p>
    </div>

    <img class="bestArtistToy" src="assets/images/scrollARTISTOTY.svg" alt="ARTIST OF THE YEAR"/>
    <img class="bestToy" src="assets/images/scrollTOYOTY.svg" alt="TOY OF THE YEAR"/>
    <img class="bestBrandToy" src="assets/images/scrollBRAND.svg" alt="BRAND OF THE YEAR"/>
    <img class="resinToy" src="assets/images/scrollBESTRESIN.svg" alt="BEST RESIN"/>
    <img class="customToy" src="assets/images/scrollCUSTOM.svg" alt="CUSTOM OF THE YEAR"/>
    <img class="breakThroughToy" src="assets/images/scrollBREAKTHROUGH.svg" alt="BREAK THROUGH ARTIST"/>
    <img class="miniSeriesToy" src="assets/images/scrollMINISERIES.svg" alt="MINI-SERIES OF THE YEAR"/>
    <img class="licensedToy" src="assets/images/scrollLICENSED.svg" alt="BEST LICENSED TOY"/>
    <img class="nonPlasticToy" src="assets/images/scrollNONPLASTIC.svg" alt="BEST NON-PLASTIC"/>
    <img class="onlineToy" src="assets/images/scrollONLINE.svg" alt="BEST ONLINE TOY STORE"/>
    <img class="diyToy" src="assets/images/scrollDIY.svg" alt="BEST DIY PLATFORM"/>
    <img class="sofubiToy" src="assets/images/scrollSOFUBI.svg" alt="BEST SOFUBI"/>
    <img class="lifetimeToy" src="assets/images/scrollLIFETIME.svg" alt="LIFETIME ACHIEVEMENT"/>

  </div>
</div>
