{{outlet}}


  <!-- <button onclick="document.getElementById('id01').style.display='block'" class="w3-btn">Open Modal</button>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-closebtn">&times;</span>
        <p>Some text. Some text. Some text.</p>
        <p>Some text. Some text. Some text.</p>
      </div>
    </div>
  </div> -->

  <!-- <img src="img_fjords.jpg" onclick="document.getElementById('id01').style.display='block'" class="w3-hover-opacity"> -->
<!--
  <div id="modal01" class="w3-modal w3-animate-zoom" onclick="this.style.display='none'">
    <p>Some text. Some text. Some text.</p>
    <p>Some text. Some text. Some text.</p>
  </div> -->


<!--
<div class="winners-page">
  <div class="main-img">

    <div class="winners-title">
      <p class="designer-p">
        Designer
      </p>
      <p class="toyawards-p">
        TOY AWARDS
      </p>
      <p class="year-p">
        2016
      </p>
    </div>

    <div class="scrollmenu">
      <a href="#">
        <img class="toyIMG" id="bestArtistToy" src="assets/images/scrollARTISTOTY.png" alt="ARTIST OF THE YEAR"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="bestToy" src="assets/images/scrollTOYOTY.png" alt="TOY OF THE YEAR"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="bestBrandToy" src="assets/images/scrollBRAND.png" alt="BRAND OF THE YEAR"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="resinToy" src="assets/images/scrollBESTRESIN.png" alt="BEST RESIN"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="customToy" src="assets/images/scrollCUSTOM.png" alt="CUSTOM OF THE YEAR"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="breakThroughToy" src="assets/images/scrollBREAKTHROUGH.png" alt="BREAK THROUGH ARTIST"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="miniSeriesToy" src="assets/images/scrollMINISERIES.png" alt="MINI-SERIES OF THE YEAR"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="licensedToy" src="assets/images/scrollLICENSED.png" alt="BEST LICENSED TOY"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="nonPlasticToy" src="assets/images/scrollNONPLASTIC.png" alt="BEST NON-PLASTIC"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="onlineToy" src="assets/images/scrollONLINE.png" alt="BEST ONLINE TOY STORE"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="diyToy" src="assets/images/scrollDIY.png" alt="BEST DIY PLATFORM"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="sofubiToy" src="assets/images/scrollSOFUBI.png" alt="BEST SOFUBI"/>
      </a>

      <a href="#">
        <img class="toyIMG" id="lifetimeToy" src="assets/images/scrollLIFETIME.png" alt="LIFETIME ACHIEVEMENT"/>
      </a>

    </div>


  </div>
</div> -->
