{{outlet}}
<div class="winners">


  <div class="main-img">

    <div class="winners-title">
      <p class="designer-p">
        Designer
      </p>
      <p class="toyawards-p">
        TOY AWARDS
      </p>
      <p class="year-p">
        2015
      </p>
    </div>

    <img class="winners-shelf" src="assets/images/Shelves.svg" alt="Shelves"/>
    <div class="winners-img-div">

      <div class="shelf-one">
        <img class="winners-toy w-artist" src="assets/images/Artist-OTY.svg" alt="Artist of the year award"/>
        <img class="winners-toy w-toy" src="assets/images/Toy-OTY.svg" alt="Toy of the year award"/>
        <img class="winners-toy w-brand" src="assets/images/Brand-OTY.svg" alt="Brand of the year award"/>
        <img class="winners-toy w-resin" src="assets/images/Resin.svg" alt="Best resin award"/>
      </div>

      <div class="shelf-two">
        <img class="winners-toy w-custom" src="assets/images/Custom.svg" alt="Best custom award"/>
        <img class="winners-toy w-breakthrough" src="assets/images/Break-through.svg" alt="Break-through artist of the year"/>
        <img class="winners-toy w-mini" src="assets/images/Mini-Series.svg" alt="Best mini-series award"/>
        <img class="winners-toy w-media" src="assets/images/Media.svg" alt="Best media tie-in award"/>
      </div>

      <div class="shelf-three">
        <img class="winners-toy w-plush" src="assets/images/Plush.svg" alt="Best plush or other non-plastic award"/>
        <img class="winners-toy w-store" src="assets/images/Store.svg" alt="Best online store award"/>
        <img class="winners-toy w-diy" src="assets/images/DIY.svg" alt="Best do it yourself platform award"/>
        <img class="winners-toy w-sofubi" src="assets/images/Sofubi.svg" alt="Best sofubi award"/>
      </div>

      <div class="shelf-four">
        <img class="winners-toy w-lifetime" src="assets/images/Lifetime.svg" alt="Lifetime achievement award"/>
      </div>

    </div>
  </div>
</div>
